//RESET
* { 
    margin: 0; padding: 0;
}

@import "variables";

/* TIPOGRAFÍA */
.texto1 {                          /** titulo principal de hether lg y superiores  **/
    color: $colorTexto;
    font-size: 40px;
    }
.texto2 {
    color: $colorTexto; 
    font-size: 28px;
    text-transform: uppercase;
    } 
.texto3 {
    color: $colorTexto; 
    font-size: 20px;
    list-style-type: none; 
    }
.texto4 { 
        color: black; 
        font-size: 50px;
        text-transform: uppercase;
    }
.texto5 {                         /** titulos de secciones de version movil  **/
    color: black; 
    font-size: 30px;
    text-transform: uppercase;
}
.texto6 { 
    font-size: 24; 
}
.texto7 { 
    font-size: 0.9rem;
}
.texto8 {
    font-size: 1.5rem;
} 
.textoSlogan {
    font-size: 2rem;
    color: $colorTexto; 
    font-weight: 500;
}   
.texto9 {
    color: $colorTexto; 
    font-size: 16px;
}
.textotituloMovil {
    line-height: 24px;
}
.textoSubtituloMovil {
    font-size: 12px;
    line-height: 12px;
}
.textoRecuadroHome {
    font-size: 14px;
}     