@import "variables";
.root {
    --bs-gutter-x: 0rem !important;
}
@media (min-width: 768px) {       // switch que quita logo y titulo de la navbar */
    .d-flex.flex-row.encabezadoMovil { 
        display: none !important;
    }
}
@media (min-width:992px) and (max-width:1186px) {
    .texto1 {
        font-size: 35px;
    }
}
@media (min-width:1400px) and (max-width:1900px) {
    .texto1 {
        font-size: 50px;
    }
}

 /*    Movil    */
@media (max-width: 767px)  { 
    .row.heather {
        display: none !important;
    }
    .texto2 {
        font-size: 16px;
    }
    .texto3 {
        font-size: 1rem;
    }
    .texto5 {
        font-size: 1.1rem;
    }
    .texto8 {
        font-size: 1.2rem;
        padding-top: 0.5rem;
    } 
    .texto9 {
        color: $colorTexto; 
        font-size: 12px;
    }   
    .textoSlogan {
        font-size: 1.25rem;
    }       
    .linea {
        border-top: 1px solid $naranja-marca;
        height: 1px; 
        width: 94vw;
        margin-bottom: 50px; 
        margin-left: 0.625rem; 
        transform: translate(0px,-10px);
        &Div {
            border-top: 1px solid $naranja-marca;
            height: 1px; 
            width: 81vw;
            margin-bottom: 0px; 
            margin-left: 0.625rem; 
            transform: translate(3px,-12px);
        }    
        &Div2 {
            border-top: 1px solid $naranja-marca;
            height: 1px; 
            width: 75vw;
            min-width: 280px;
            transform: translateY(-10px);
        }
    }
    .espaciadoHome {
        margin-left: 2vw;
    }
    .col-sm-12.espaciadoHome {
        margin-left: 0rem;
        padding-right: 0rem;
    }
    .recuadroHome {
        padding-top: 5px;
        margin-bottom: 3rem;
        padding-left: 5px;
        height: 16.5rem;
    }
    .cabeceraRecuadro {
        font-size: 1.3rem;
    }
    .encabezadoMovil__titulo {
        font-size: 24px;
        text-align: center;
    }
    .margenLocales {
        margin-left:0rem;
    }
    .boxLocales {
        width: 14rem;
    }
    .recuadroLocales {                   
        padding-left: 10px;
        padding-top: 15px;
        margin-bottom: 3rem;
        width: 14rem;
        height: 12rem;
    }
    .cabRecLocales {
        width: 100%;
        font-size: 1.3rem;
        width: 14rem;
        min-width: 13rem;
    }
    .row.miCarrusel1 {    /* quita el padding de Bootstrap del carrusel*/
        padding-left: 0%;
    }
    .row.miCarrusel2 {
        padding-left: 0%;
    }
    .cajaServC p {
        margin-left: 5px;
    }
    .box__items  {
            width:90%;
            padding-left: 0px;
            padding-top: 20px;
            margin-left: auto;
            margin-right: auto;
        } 
    .recuadroContacto {
        width: 90vw;
        border-left: transparent;
        border-right: transparent;
    } 
    .cajaServC {
    width:100%;
    padding-left: 10px;
    padding-right:20px ;
    }
    .col-sm-12.anexo { 
        width: 95vw;
    }
    .cabeceraServ {
    margin: 0 0 1.6rem 0;
    font-size: 1.7rem;
    width: 90%;
    }
    .margenUb {
    margin-left: 0.8rem ;
    }
    .footer {
        &__direccion {
            padding-left: 10px;
            margin-left: 0.5rem;
            width: 90vw
        }
        &--display {
        width: 99%;
        height: 2.4rem;
        padding: 0px 5px 0 5px;
        overflow-x: hidden !important;
        }
        &__p {
            width: 73%; 
            padding-left: 10px;
            padding-top: 5px;
            margin-left: 0.1rem;
        }
        &__div {
            width: 25%;
            padding-left: 0%; 
            padding-right: 0%;
            padding-bottom: 5ps;
        }
    }
    .mapaDeSitio {
        font-size: 12px;
        margin-left: 0rem;
        width: 90vw;
    }
    .mapaDeSitio a {
        padding: 5px;
        margin-right: 7px;
    } 
    .link1 {
        width: 2.2rem;
    }
    .link2 {
        width: 2.9rem;
    
    }
    .link3 {
        width: 3.7rem;
    }
    .link4 {
        width: 3.4rem;
    }

    .logoTelFace {
        width: 23px;
    }
    .logoLinkUb {
        width: 19px;
    }
    // bucle modificado (con width) que genera los botones de contacto.html
    @each $background, $value in $theme-colors {
        .btn-#{$background} {
        width: 7.5rem; 
        @include button-variant($value, $value);
        }
    }
}
    /*Tablet*/
@media (min-width: 768px) and (max-width: 991.98px) and (orientation:portrait) { 
    .texto1 {
        font-size: 1.6rem;
    }
    .texto2 {
    font-size: 1.4rem;
    }  
    .texto3 {
    font-size: 1.1rem;
    }
    .tituloMovil {
    transform: translate(35px, 10px);
    font-size: 28px;
    }
    .row.miCarrusel1 {    /* quita el padding de Bootstrap del carrusel*/
        padding-left: 0%;
    }
    .row.miCarrusel2 {
        padding-left: 0%;
    }
    .cajaServC p {
        margin-left: 5px;
    }
    .cajaServC {
    width:100%;
    padding-left: 10px;
    padding-right:20px ;
    }
    .texto5 {
    font-size: 1.4rem;
    }   
    .cabeceraServ {
        margin: 0 0 1.6rem 0;
        font-size: 1.7rem;
        width: 90%;
    }
}